astroid==2.11.3
bandit==1.7.4
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.2
coverage==6.3.2
dill==0.3.4
distlib==0.3.4
django==2.2.28
django-naomi==0.8
dodgy==0.2.1
dparse==0.5.1
filelock==3.6.0
flake8==4.0.1
flake8-polyfill==1.0.2
gitdb==4.0.9
gitpython==3.1.27
identify==2.4.12
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
model-mommy==2.0.0
nodeenv==1.6.0
packaging==21.3
pbr==5.8.1
pep8-naming==0.10.0
platformdirs==2.5.2
pre-commit==2.18.1
prospector[with-vulture]==1.7.7
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.13.7
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
pyparsing==3.0.8
pytz==2022.1
pyyaml==6.0
requests==2.27.1
requirements-detector==0.7
safety==1.10.3
setoptconf-tmp==0.3.1
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
sqlparse==0.4.2
stevedore==3.5.0
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
wrapt==1.14.0
