django<3
celery[redis]
django-model-utils
django-webpack-loader
django-js-reverse
django-import-export
python-decouple
brotlipy
django-log-request-id
dj-database-url
gunicorn
whitenoise
psutil
ipython
sentry-sdk
autopep8
flake8
requests
pandas
djangorestframework
bs4
wheel
pymongo
dnspython
geopy
matplotlib
psycopg2
fuzzywuzzy[speedup]
sodapy
yattag
sendgrid
feedparser