@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Avenir-Book.otf) format('otf'),
    url(./assets/fonts/Avenir-Book.ttf) format('ttf') /* Safari, Android, iOS */,
    url(./assets/fonts/Avenir-Book.woff) format('woff') /* Modern Browsers */;
}

html {
  font-family: 'Avenir', sans-serif;
}

/* Google autocomplete */
.pac-container {
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 768px) {
  .pac-container {
    width: 400px !important;
  }
}

.pac-item {
  display: flex;
  padding: 0 8px;
  height: 36px;
  align-items: center;
  font-family: Avenir;
}
.pac-item:hover,
.pac-item-selected {
  background-color: #ece9f6;
}

.pac-icon {
  display: none;
  width: 0;
  padding: 0;
  margin: 0;
}

body {
  background: #f7f7f7;
}

/* Remove outline */
body.tab-pressed *:focus {
  outline: 2px solid #ece9f6 !important; /* for non-webkit browsers */
  outline: 2px auto -webkit-focus-ring-color !important;
}

.react-tiny-popover-container {
  overflow: visible !important;
}

.pagination {
  margin: 15px auto;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 15px;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #674ea7;
  border-color: #674ea7;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #674ea7;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #674ea7;
  border-color: #674ea7;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #674ea7;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
